<%- include('../includes/top.ejs'); %>
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= titre_page %></title>
</head>
<body>

    <%- include('../includes/header.ejs'); %>
    <%- include('../includes/liste_categories.ejs'); %>

    <main>
        <h1>Email confirmé !</h1>
        <p class="p-2">Votre email a été confirmé avec succès ! Vous pouvez maintenant vous connecter et ajouter des article dans votre panier.</p>
    </main>

    <%- include('../includes/footer.ejs'); %>
    
</body>
</html>